# Ignorar node_modules de ambos os projetos
api-pessoa/node_modules/
api-rede/node_modules/

# Ignorar builds
api-pessoa/dist/
api-rede/dist/

# ignora data
data

# Logs
**/logs/
*.log

# Env files
**/.env
