version: '3.8'

services:
  postgres:
    image: postgres:14.19-alpine3.22
    container_name: pg_database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - host-net

networks:
  host-net:
    driver: bridge